In [1]:
import pandas as pd
import os
import numpy as np
import random
from pandas import ExcelWriter

In [2]:
dataset = pd.read_csv("cars.csv")

C:\Users\Freddy Dratwa\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:3018: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
dataset = dataset.sample(frac=1).reset_index(drop=True)

In [4]:
dataset = dataset[:100000]
dataset.head()

,Id,Price,Year,Mileage,City,State,Vin,Make,Model,Unnamed: 9,Unnamed: 10
0,71314.0,30865.0,2015.0,19874.0,Salinas,CA,1C4RDJDG3FC923623,Dodge,DurangoAWD,NaN,NaN
1,550011.0,16492.0,2015.0,30324.0,Clive,IA,1C3CCCCG7FN565263,Chrysler,200C,NaN,NaN
2,333281.0,20994.0,2014.0,19619.0,Sinking Spring,PA,2T3RFREV0EW197303,Toyota,RAV44X4,NaN,NaN
3,140986.0,29588.0,2014.0,22837.0,Sarasota,FL,3GYFNBE37ES614676,Cadillac,SRXLuxury,NaN,NaN
4,415607.0,14980.0,2010.0,23608.0,Springfield,PA,1G4GC5GG0AF255358,Buick,LaCrosse4dr,NaN,NaN

In [5]:
dataset.to_csv("Dataframe.csv")