In [1]:
import pandas as pd
import os
import numpy as np
import random
from pandas import ExcelWriter

In [2]:
dataset = pd.read_csv("cars.csv")

C:\Users\Freddy Dratwa\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:3018: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
dataset = dataset.sample(frac=1).reset_index(drop=True)

In [4]:
if "Unnamed: 10" in dataset and "Unnamed: 9" in dataset and "Vin" in dataset:
    dataset = dataset.drop(columns=["Vin","Unnamed: 9", "Unnamed: 10"])
    dataset["Mileage"] = dataset["Mileage"].apply(lambda x: x*1.6)

    dataset.columns = ["ID","PRECO","ANO","KM","CIDADE","ESTADO","MARCA","MODELO"]
    dataset["IDADE"] = dataset["ANO"].apply(lambda x: 2019-x)

    dataset.ID = dataset.ID.astype("float")
    dataset.PRECO = dataset.PRECO.astype("float")
    dataset.ANO = dataset.ANO.astype("float")
    dataset.KM = dataset.KM.astype("float")
    dataset.IDADE = dataset.IDADE.astype("float")
    dataset.CIDADE = dataset.CIDADE.astype("category")
    dataset.ESTADO = dataset.ESTADO.astype("category")
    dataset.MARCA = dataset.MARCA.astype("category")
    dataset.MODELO = dataset.MODELO.astype("category")

    dataset["ESTADO"] = dataset["ESTADO"].apply(lambda x: x.upper())
    dataset["CIDADE"] = dataset["CIDADE"].apply(lambda x: x.upper())
    dataset["MARCA"] = dataset["MARCA"].apply(lambda x: x.upper())
    dataset = dataset[["ID","PRECO","ANO","IDADE","KM","CIDADE","ESTADO","MARCA","MODELO"]]

In [5]:
dataset = dataset[:100000]
dataset.head()

,ID,PRECO,ANO,IDADE,KM,CIDADE,ESTADO,MARCA,MODELO
0,516508.0,32500.0,2015.0,4.0,35886.4,ANKENY,IA,CHEVROLET,ColoradoCrew
1,744220.0,43310.0,2017.0,2.0,5918.4,MIAMI,FL,GMC,AcadiaFWD
2,341109.0,26887.0,2016.0,3.0,20011.2,HOUSTON,TX,TOYOTA,SiennaL
3,709465.0,34999.0,2014.0,5.0,49478.4,BOWLING GREEN,KY,FORD,F-150FX4
4,841923.0,27198.0,2014.0,5.0,106585.6,LAS CRUCES,NM,INFINITI,QX60AWD

In [6]:
dataset.to_csv("Dataframe.csv")