In [1]:
import pandas as pd
import os
import numpy as np
import random
from pandas import ExcelWriter

In [2]:
dataset = pd.read_csv("cars.csv")

C:\Users\Freddy Dratwa\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:3018: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
dataset = dataset.sample(frac=1).reset_index(drop=True)

In [4]:
dataset = dataset[:100000]
dataset.head()

,Id,Price,Year,Mileage,City,State,Vin,Make,Model,Unnamed: 9,Unnamed: 10
0,219097.0,10750.0,2013.0,38691.0,Maumee,OH,KNAGM4A78D5380636,Kia,OptimaLX,NaN,NaN
1,129505.0,20464.0,2017.0,7731.0,Grapevine,TX,1G1ZE5ST2HF218536,Chevrolet,MalibuLT,NaN,NaN
2,337863.0,15999.0,2011.0,82585.0,Grimes,IA,5TDKA3DCXBS001393,Toyota,Sienna5dr,NaN,NaN
3,750580.0,15700.0,2014.0,27758.0,Houston,TX,19XFB2F50EE065304,Honda,CivicLX,NaN,NaN
4,584230.0,14990.0,2015.0,96303.0,Siloam Springs,AR,2C4RDGCG8FR648696,Dodge,Grand,NaN,NaN

In [5]:
dataset.to_csv("Dataframe.csv")

PermissionError: [Errno 13] Permission denied: 'Dataframe.csv'