In [1]:
import pandas as pd
import os
import numpy as np
import random
from pandas import ExcelWriter

In [2]:
dataset = pd.read_csv("cars.csv")

C:\Users\Freddy Dratwa\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:3018: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
dataset = dataset.sample(frac=1).reset_index(drop=True)
if "Unnamed: 10" in dataset and "Unnamed: 9" in dataset and "Vin" in dataset:
    dataset = dataset.drop(columns=["Vin","Unnamed: 9", "Unnamed: 10"])
    dataset["Mileage"] = dataset["Mileage"].apply(lambda x: x*1.6)
    dataset.columns = ["ID","PRECO","ANO","KM","CIDADE","ESTADO","MARCA","MODELO"]

In [4]:
dataset = dataset[:100000]
dataset.head()

,ID,PRECO,ANO,KM,CIDADE,ESTADO,MARCA,MODELO
0,932987.0,14991.0,2002.0,96032.0,Houston,TX,Lexus,SC
1,7106.0,6799.0,2012.0,145860.8,Bell,CA,Honda,Civic
2,112974.0,16450.0,2016.0,81430.4,Humble,TX,Chevrolet,MalibuLT
3,313558.0,11567.0,2012.0,211038.4,Christianburg,VA,Subaru,Outback2.5i
4,901706.0,13994.0,2014.0,47478.4,Killeen,TX,Kia,Forte

In [5]:
dataset.to_csv("Dataframe.csv")